<div (swipeleft)="handleSwipeLeft()">
  <div
    class="content"
    fxLayout="row wrap"
  >
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%">Under dev</div>
    <div fxFlex="60%" fxFlex.xs="100%" fxFlex.sm="100%">
      <app-card
        *ngFor="let obj of userObj"
        [iconUrl]="obj['iconUrl']"
        [userName]="obj['name']"
        [userProf]="obj['prof']"
        [postUrl]="obj['postUrl']"
        [cardText]="obj['cardText']"
      ></app-card>
    </div>
    <div fxFlex="20%" fxFlex.xs="100%" fxFlex.sm="100%">Under dev</div>
  </div>
</div>
<!-- (@swipeEndAnimation.start)="onAnimationEvent($event)" -->
<!-- (@swipeEndAnimation.done)="resetAnimationState()" -->

<!-- (@swipeEndAnimation.start)="onStartAnimation()"
(@swipeEndAnimation.done)="resetAnimationState()"
(swipeleft)="handleSwipeLeft()"
(swiperight)="startAnimation('headShake')" -->
