<nav mat-tab-nav-bar [backgroundColor]="">
  <div><a mat-tab-link>Logo 1</a></div>
  <div class="display-flex space-between">
    <!-- <div><a mat-tab-link>Logo 1</a>
    </div> -->
    <div>
      <a mat-tab-link>Button 1</a>
      <a mat-tab-link>Button 2</a>
    </div>
    <!-- <a mat-tab-link>Button 1</a>
      <a mat-tab-link>Button 2</a> -->
  </div>
</nav>

<mat-tab-group mat-align-tabs="end">
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
    </ng-template>
    Content 2
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">thumb_up</mat-icon>
    </ng-template>

    Content 3
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon class="example-tab-icon">menu</mat-icon>
    </ng-template>

    Content 3
  </mat-tab>
</mat-tab-group>
