.example-tab-icon {
  margin-right: 8px;
}

.display-flex {
  display: flex;
  justify-content: flex-end;
}

.space-between {
  display: flex;
  margin-left: auto;
}
.border {
  border: 2px solid black;
}
