<div class="divPage" (swiperight)="handleSwipeRight()" class="help">
  <div class="sect sectOne">
    <div class="section group">
      <div class="col span_1_of_1">
          <h1 style="color: white; text-shadow: 1px 1px rgb(218, 94, 114);">Parallax demo</h1>
          <br>
      </div>
    </div>
  </div>
  <div class="sect sectTwo">
    <a name="about"></a>
    <div class="section group">
      <div class="col span_1_of_1" id="description">
      </div>
    </div>
  </div>
  <div class="sect sectThree">
    <a name="works"></a>
  </div>
  
</div>
